# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Logs
*.log
route53_monitor.log

# State files
previous_route3_scan.json
last_run.txt

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Virtual Environment
venv/
venv/pyvenv.cfg
ENV/

# Jenkins specific
.jenkins/ 